* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    background-color: black;
}

/* app bar */

#menu {
    background-color: #00021e;
    height: 85px;
    padding: 0 20px;
    color: aliceblue;
}

#logo {
    font-size: 30px;
    line-height: 80px;
    color: aliceblue;
    float: left;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 85px;
    gap: 40px;
}

nav a:link {
    text-decoration: none;
    margin-right: 70px;
    color: #777;
}

#menu_link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-right: 70px;
    color: #95cdfb;
} 

.giris_yap_kismi {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    height: 85px; 
}

#giris {
    border: 2px solid #95cdfb; 
    padding: 8px;
    color: #95cdfb;
    border-radius: 6px;
    text-decoration: none;
}

#cikis {
    border: 2px solid rgb(240, 65, 65); 
    padding: 8px;
    color: rgb(240, 65, 65);
    border-radius: 6px;
    text-decoration: none;
}

#kayit {
    border: 2px solid #95cdfb;
    background-color: #95cdfb; 
    padding: 8px;
    fill: #95cdfb;
    color: #180f1e;
    border-radius: 6px;
    text-decoration: none;
}

/* anasayfa */

#anasayfa {
    background-color: rgb(1, 0, 4);
    height: 750px;
}

#dedektifkopke {
    animation: slow 3s infinite linear;
    width: 400px;
    border-radius: 10px;
    margin-left: 500px;
}

h1 {
    margin-top: 0;
    color: #008cff;
    font-family: "Roboto Mono", monospace;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-top: 70px;
}

.tanitimyazi {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
}


#kesfet_btn {
    float: right;
    margin-right: 300px;
    margin-top: 100px;
    background-color: #95cdfb;
    color: #333;
    height: 70px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    font-style: bold;
    text-align: center;
    border-radius: 15px;
}

#kesfet_btn:hover {
    background-color: #333;  
    color: #95cdfb;
}

/* davalar.php */

.dava_container {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    color: #333;
}

.dava_karti {
    background-color: #1A1A1A;
    padding: 25px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.dava_karti:hover {
    transform: translateY(-5px);
}

.dava_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dava_header a {
    text-decoration: none;
    color: #95cdfb;
    font-size: 25px;
    font-weight: bold;
}

.dava_header a:hover {
    text-decoration: underline;
}

.dava_tag {
    background-color: #95cdfb;
    padding: 4px 12px;
    color: #333;
    border-radius: 20px;
}

.dava_aciklama {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.3;
}

h2 {
    color: #008cff;
    font-family: "Roboto Mono", monospace;
    font-size: 35px;
    text-align: left;
    text-transform: capitalize;
    padding-top: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* giris.php */

#kayit_pikachu {
    width: 390px;
    height: 190px;
    margin-left: 100px;
    margin-right: auto;
}

#resim {
    height: 300px;
    width: 250px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 15px;
}

.kayit_alani {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    color: white;
    display: flex;
    flex-direction: column;
}

.giris_karti {
    width: 800px;
    height: 430px;
    background-color: #1A1A1A;
    margin-top: 20px;
    margin-left: 350px;
    padding: 25px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: row;
}

.input {
    width: 400px;
    height: 50px;
    margin-bottom:2px;
    background-color: #2a2a2a;
    color: white;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 40px;
    border-radius: 15px;
    border: 2px solid #95cdfb;

}

#txtPasword {
    position:absolute; 
    left:120px; 
    margin-bottom:2px;
}

#btnGiris {
    border-radius: 5px;
    border-style: none;
    background-color: #95cdfb;
    color: black;
    width: 100px;
    padding: 8px 0;
    margin-left: auto;
    margin-top: 40px;
    margin-right: 20px;
}

#kontrolcu_kopk {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-right: auto;
}

h4 {
    color: #95cdfb;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin-left: 10px;
}

.bas_giris {
    width: 800px;
    height: 200px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    align-items: center;
}

/* dava_detay.php */

.sayfa {
    display: flex;
    flex-direction: row;
}

.maktul_container {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.maktul_karti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #1A1A1A;
    border-radius: 15px;
    width: 500px;
    height: 350px;
    margin-left: 20px;
}

.maktul {
    display: flex;
    gap: 15px;
    padding: 10px;
    background: #222;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 500px;
    height: 340px;
}

.maktuller_yazisi {
    color: #ddd;
    margin-bottom: 0;
    margin-top: 5px;
}

.maktul_icerik {
    gap: 15px;
    overflow-x: hidden;  
    overflow-y: auto;    
    white-space: nowrap;
    margin-top: 5px;
    width: 500px;
}

.maktul_adi {
    color: #95cdfb; 
    font-family: "Roboto Mono", monospace;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.maktul_foto {
    width: 160px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.madde_listesi li {
    color: #ddd;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: normal !important;  
    overflow: visible !important;    
    word-wrap: break-word;    
}

.maktul_bilgi {
    width: 250px;
    white-space: normal !important;
    word-break: break-word;
}

.maktul_bilgi ul{
    margin: 0;
    padding-left: 10px;
    overflow-wrap: break-word;
}

.maktul_sol {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    width: 200px;
}

#de_not {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 80;
    font-size: 25px;
    color: #95cdfb;
    font-family: "Roboto Mono", monospace;
}

.not_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 700px;
}

.not_textarea {
    width: 500px;
    height: 150px;
    margin-top: 5px;
    background-color: #333;
    color: #ddd;
    border-radius: 10px;
}

.not_btn {
    border-radius: 5px;
    border-style: none;
    background-color: #95cdfb;
    color: black;
    width: 100px;
    padding: 8px 0;
    align-self: flex-start;
}

.not_container {
    width: 500px;       
    margin-left: 20px;  
    display: flex;
    flex-direction: column;
}


.rapor_container {
    width: 800px;
    display: grid;
    color: #333;
    margin-left: 10px;
    margin-right: auto;
}

.rapor_karti {
    height: 600px;
    width: 500px;
    background-color: #1A1A1A;
    padding: 5px;
    border-radius: 15px;
    color: white; 
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 80px;
}

.rapor_container {
    width: 800px;
    display: grid;
    color: #333;
    margin-left: 10px;
    margin-right: auto;
}

.tab_buttons {
    margin-top: 7px;
}

.tab_button {
    color: #95cdfb;
    border: #95cdfb solid 2px;
    border-radius: 10px;
    background-color: #333;
    padding: 5px;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
}

.tab_button:hover {
    cursor: pointer;
}


.rapor {
    height: 540px;
    width: 490px;
    background-color: black;
    padding: 2px;
    border-radius: 15px;
    color: white; 
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    text-align: left;
    margin-left: 2px;
    margin-right: auto;
    margin-top: 10px;
    overflow-y: auto;    
    overflow-x: hidden;  
        
    white-space: normal;
    line-height: 1.2;
    font-size: 14px;
}

.tab_content {
    display: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rapor pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.supheliler_container {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #333;
    margin-left: 10px;
    margin-right: auto;
}

.ipucu_btn {
    border-radius: 5px;
    border-style: none;
    background-color: #008cff;
    color: white;
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    font-style: bold;
}

.supheliler_karti {
    height: 340px;
    width: 480px;
    background-color: #1A1A1A;
    border-radius: 15px;
    color: white; 
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column; 
    
}

.supheliler_header {
    margin-top: 0;
    margin-bottom: 0;
    height: 15px;
}

.supheliler_yazisi {
    color: #ddd;
    margin-bottom: 0;
    margin-top: 2px;
}

.supheliler_icerik {
    display: flex;
    flex-direction: row; 
    gap: 15px;
    overflow-x: auto;    
    overflow-y: hidden;  
    white-space: nowrap;
    margin-top: 10px;
}

.supheli_adi {
    margin-top: 2px;
    margin-bottom: 5px;
}

.supheli {
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    width: 180px;         
    height: 300px;
    margin-top:0;
    flex-shrink: 0;       
    text-align: center;
}

.supheli_foto {
    width: 160px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.katil_kim_karti {
    height: 250px;
    width: 480px;
    background-color: #1A1A1A;
    border-radius: 15px;
    color: white; 
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: auto;
}

.secim {
    margin-top: 2px;
    margin-left: 20px;
}

#secim_listesi {
    margin-left: 20px;
}

.supheliyi_sucla {
    background-color: red;
    color: #ddd;
    font-style: oblique;
    margin-left: 20px;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

.ifade_btn {
    background-color: #008cff;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.katiller_container {
    width: 90%;
    margin-top: 10px;
    margin: 40px auto;
    display: flex;
    justify-content: center;  
}

.katiller_karti {
    display: flex;
    flex-direction: row;
    background-color: #1A1A1A;
    color: white;
    border-radius: 15px;
    padding: 20px;
    gap: 30px;
    max-width: 1100px;        
    width: 100%;
    height: 540px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    margin-top: 0;
}

.katil_foto {
    width: 260px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0; 
}

.katil_resim_isim {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.katil_bilgi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.katil_adi {
    color: #95cdfb;
    font-size: 32px;
    margin: 0;
}

.katil_ifade {
    line-height: 1.4;
}

.katil_ceza {
    color: white;
    font-weight: bold;
}

.belge {
    height: 500px;
    width: 600px;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
    color: white; 
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    overflow-y: auto;    
    overflow-x: hidden;  
        
    white-space: normal;
    line-height: 1.2;
    font-size: 14px;
}

.belge pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#mutluluk {
    margin-top: 10px;
    text-align: center;
}

.daha_fd {
    color: white;
    text-align: center;
}

.belge_content pre {
    padding-left: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#yonlendirme {
    margin-left: 550px;
}

#kullanici_adi {
    color: #95cdfb;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.profil_alani {
    background-color: darkslategray;
    width: 1000px;
    margin: 40px auto; 
    background-color: #222; 
    padding: 30px;
    border-radius: 12px;
    color: white;
    text-align: center;
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

.profil_alani h3 {
    color: #ddd;
    font-size: 50px;
    margin-top: 50px;
}

.profil_alani #omg{
    background-color: #008cff;
    color: #ddd;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px;
}

.coz_dava {
    margin-left: 300px;
}

.supheliyi_sucla.pasif {
    background-color: #777 !important;
    cursor: not-allowed !important;
    opacity: 0.6;
    pointer-events: none;
}

.istatistik {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

#hesabi_sil {
    color: white;
    text-align: center;
    text-decoration: none;
}

